/* Fjerner pila oå dropdownmeny til kilovelgeren */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.App{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
 /* Top level divs*/
.Header{
  display: flex;
  align-items: center;
  background-color: rgb(173, 154, 154);
  flex: 12;
  width: 100vw;
  height: 100%;
}
.Logo{
  margin-left: 20px;
  height: 70%;
  width: 15%;
}
.MainContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  height: 100%;
  flex: 88;
  width: 100vw;
}
.MainContentWrapper{
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: beige;
  padding-bottom: 2%;
}
.Bg{
  width: 90%;
}
.MatriseWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MatriseWrapper > div{
  width: fit-content;
  justify-content: center;
  align-items: center;
}
.Row{
  display: flex;
}
.MatriseElement{
  width: 28%;
  border:1px solid;
}
.Info{
  background-color: bisque;
  margin-top: 1%;
}
.Info > p{
  padding: 1%;
  margin:0;
  margin-bottom: 1%;
}
.SingleParcelCalculator{
  display: flex;
  justify-content: space-between;

}
.Kg{
  width: 100%;
}
.AntallWrapper{
  width: fit-content;
}
.Antall{
  width: 70%;
}
.AntallDescriptor{
  width: 70%;
}